<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>183704717279-gfelsrjf9vf7ab695209vdo2phr6nu8p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183704717279-gfelsrjf9vf7ab695209vdo2phr6nu8p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>183704717279-2g7msne4bgeav8o4a5m80pmij6rsne96.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBHevEkw40u9FXtbTqMo55gGb4TeQcIdnQ</string>
	<key>GCM_SENDER_ID</key>
	<string>183704717279</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.terasoft.nazifaparking</string>
	<key>PROJECT_ID</key>
	<string>nazifa-parking-29f2b</string>
	<key>STORAGE_BUCKET</key>
	<string>nazifa-parking-29f2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183704717279:ios:b9e2892ef9b4c41095266a</string>
	<key>DATABASE_URL</key>
	<string>https://nazifa-parking-29f2b-default-rtdb.firebaseio.com</string>
</dict>
</plist>